<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Manrope:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <nav class="bg-white flex justify-between items-center px-4 sm:px-8 py-5 shadow-sm">
      <a href="index.html">
        <h1 class="font-title text-[#1B2B48] text-xl font-bold tracking-wide">
          TRENDLY
        </h1>
      </a>
        <div class="flex gap-6 text-sm text-[#71717A]">
            <a href="shopping.html" class="hover:text-[#1B2B48] transition-colors">Shop All</a>
        </div>
        <div class="flex gap-4 text-[#1B2B48]">
            <a href="cart.html" class="relative p-1">
                <span class="text-xl">🛒</span>
                <span class="absolute -top-1 -right-1 bg-[#1B2B48] text-white text-[10px] w-4 h-4 rounded-full flex items-center justify-center font-bold">3</span>
            </a>
        </div>
    </nav>

</body>
</html>